$mediaWidth:1200px;
$mediaHeight:1024px;
$col-width:100%/12;
$colPadding:5%;

*{
  box-sizing: border-box;
}

html, body, ul, p {
  margin: 0;
  padding: 0;

}
body{
  color: black;
  font-family: "Space Mono", sans-serif;
  background-color: #ff00ff;
}




[class*='col-']{
  float:left;
  padding:12px;
}

@for $cols from 1 through 12{
  .col-xs-#{$cols} {
    flex-basis:$col-width*$cols;
  }
}


@media(min-width:768px) {
  .container{
    flex-flow: row wrap;
  }
  @for $cols from 1 through 12 {
    .col-s-#{$cols}{
      flex-basis:$col-width*$cols;
    }
  }
}

@media(min-width:1200px) {

  @for $cols from 1 through 12 {
    .col-m-#{$cols}{
      flex-basis:$col-width*$cols;
    }
  }
}

@media(min-width:1600px){
  @for $cols from 1 through 12{
    .col-l-#{$cols}{
      flex-basis:$col-width*$cols;
    }
  }
}