@import "gallery-header";
@import "gallery-navigation";
@import "gallery-section";
@import "grid";
@import "gallery-footer";
@import "mixins";

.gallery {
    &-container {
      display: flex;
    }
}