.gallery-header {
  height: 100px;
  background-color: black; }

* {
  box-sizing: border-box; }

html, body, ul, p {
  margin: 0;
  padding: 0; }

body {
  color: black;
  font-family: "Space Mono", sans-serif;
  background-color: #ff00ff; }

[class*='col-'] {
  float: left;
  padding: 12px; }

.col-xs-1 {
  flex-basis: 8.33333%; }

.col-xs-2 {
  flex-basis: 16.66667%; }

.col-xs-3 {
  flex-basis: 25%; }

.col-xs-4 {
  flex-basis: 33.33333%; }

.col-xs-5 {
  flex-basis: 41.66667%; }

.col-xs-6 {
  flex-basis: 50%; }

.col-xs-7 {
  flex-basis: 58.33333%; }

.col-xs-8 {
  flex-basis: 66.66667%; }

.col-xs-9 {
  flex-basis: 75%; }

.col-xs-10 {
  flex-basis: 83.33333%; }

.col-xs-11 {
  flex-basis: 91.66667%; }

.col-xs-12 {
  flex-basis: 100%; }

@media (min-width: 768px) {
  .container {
    flex-flow: row wrap; }
  .col-s-1 {
    flex-basis: 8.33333%; }
  .col-s-2 {
    flex-basis: 16.66667%; }
  .col-s-3 {
    flex-basis: 25%; }
  .col-s-4 {
    flex-basis: 33.33333%; }
  .col-s-5 {
    flex-basis: 41.66667%; }
  .col-s-6 {
    flex-basis: 50%; }
  .col-s-7 {
    flex-basis: 58.33333%; }
  .col-s-8 {
    flex-basis: 66.66667%; }
  .col-s-9 {
    flex-basis: 75%; }
  .col-s-10 {
    flex-basis: 83.33333%; }
  .col-s-11 {
    flex-basis: 91.66667%; }
  .col-s-12 {
    flex-basis: 100%; } }

@media (min-width: 1200px) {
  .col-m-1 {
    flex-basis: 8.33333%; }
  .col-m-2 {
    flex-basis: 16.66667%; }
  .col-m-3 {
    flex-basis: 25%; }
  .col-m-4 {
    flex-basis: 33.33333%; }
  .col-m-5 {
    flex-basis: 41.66667%; }
  .col-m-6 {
    flex-basis: 50%; }
  .col-m-7 {
    flex-basis: 58.33333%; }
  .col-m-8 {
    flex-basis: 66.66667%; }
  .col-m-9 {
    flex-basis: 75%; }
  .col-m-10 {
    flex-basis: 83.33333%; }
  .col-m-11 {
    flex-basis: 91.66667%; }
  .col-m-12 {
    flex-basis: 100%; } }

@media (min-width: 1600px) {
  .col-l-1 {
    flex-basis: 8.33333%; }
  .col-l-2 {
    flex-basis: 16.66667%; }
  .col-l-3 {
    flex-basis: 25%; }
  .col-l-4 {
    flex-basis: 33.33333%; }
  .col-l-5 {
    flex-basis: 41.66667%; }
  .col-l-6 {
    flex-basis: 50%; }
  .col-l-7 {
    flex-basis: 58.33333%; }
  .col-l-8 {
    flex-basis: 66.66667%; }
  .col-l-9 {
    flex-basis: 75%; }
  .col-l-10 {
    flex-basis: 83.33333%; }
  .col-l-11 {
    flex-basis: 91.66667%; }
  .col-l-12 {
    flex-basis: 100%; } }

.footer {
  display: flex; }

.gallery-container {
  display: flex; }
